<header>
    <div class="square"></div>

    <% @title = "MemberList" %>
    <h1><%= @title %></h1>

    <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
    <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>

    <%
    if @current_member 
        full_name = @current_member.last_name + @current_member.first_name
        @title = "#{full_name}"
        photo = @current_member.face_photo_path
        @photo = "#{photo}"
    elsif @account 
        full_name =  @account.mail_address
        @title = "#{full_name}"
    else
        @title = "職員"
        @photo = "0"
    end%>

    <% if @account || @current_member %>
    <div class="menu">
        <%= content_tag(:span, flash.alert, class: "alert") if flash.alert%>
            <li>
                <a href="/account">ポスト</a>
                <p>Post</p>
            </li>
            <li>
                <a href="/account/members/show">プロフィール</a>
                <p>Profile</p>
            </li>
            
            <li>
                <a href="/account/members/index">メンバー一覧</a>
                <p>MemberList</p>    
            </li>
    </div>

        <div class="right">
            <img src="/assets/<%= @photo %>.jpg" class="icon rounded-circle">
            <%= @title %>
        </div>
        
    <% else %>

         <div class="right">
            <%= link_to "ログイン", :account_login %>
            <img src="/assets/<%= @photo %>.jpg" class="icon rounded-circle">
        </div>
    <% end %>
</header>

<% if @account || @current_member %>
<header class="header2">
    <div class="right">
    <%if @current_member.account.admin_flag == "1"%>
        <li>
            <a href="/account/admin/show">管理者一覧</a>
        </li>
    <% end %>
        <li>
            <a href="/account/passwords/edit">パスワード変更</a>  
        </li>
        <li>
            <%= link_to "ログアウト", :account_session, method: :delete %> 
        </li>
    </div>
</header>
<% end %>