<header>
    <div class="square"></div>

    <% @title = "MemberList" %>
    <h1><%= @title %></h1>

    <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
    <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>

    <%
    if @current_member 
        full_name = @current_member.last_name + @current_member.first_name
        @title = "#{full_name}"
    elsif @current_admin
        full_name = @current_member.last_name + @current_member.first_name
        @title = "#{full_name}"
    end%>

    <% if current_account %>
    <div class="menu">
            <li>
                <a href="/account">ポスト</a>
                <p>Post</p>
            </li>
            <li>
                <a href="/account/members/show">プロフィール</a>
                <p>Profile</p>
            </li>
            
            <li>
                <a href="/account/members/index">メンバー一覧</a>
                <p>MemberList</p>    
            </li>
    </div>

        <div class="right">
            <%= image_tag @current_member.face_photo_path.url, class:"icon rounded-circle" %>
            <%= @title %>
        </div>
        
    <% else %>

         <div class="right">
            <%= link_to "ログイン", :account_login %>
            
        </div>
    <% end %>
</header>

<% if current_account %>
<header class="header2">
    <div class="right">
    <%if current_account.admin_flag=="1" %>
        <li>
            <a href="/account/admin/show">従業員管理</a>
        </li>
    <% end %>
        <li>
            <a href="/account/passwords/edit">パスワード変更</a>  
        </li>
        <li>
            <%= button_to "ログアウト", :account_session, method: :delete %> 
        </li>
    </div>
</header>
<% end %>
