<% @title = "LOGIN" %>
<h1><%= @title %></h1>

<div id="login-form">
    <%= content_tag(:span, flash.notice, class: "notice") if flash.notice%>
    <%= form_with model: @form, url: :account_session do |f| %>
        <div>
            <%= f.label :mail_address, "ID" %>
            <%= f.text_field :mail_address %>
        </div>
        <div>
            <%= f.label :password, "Password" %>
            <%= f.password_field :password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
    <% end %>

</div>
