<% @title = "LOGIN" %>
<h1><%= @title %></h1>

<div id="login-form">
    <%= form_with model: @form, url: :account_session do |f| %>
        <div>
            <%= f.label :mail_address, "ID" %>
            <%= f.text_field :mail_address %>
        </div>
        <div>
            <%= f.label :password, "Password" %>
            <%= f.password_field :password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
    <% end %>
    <div>
        <h6>パスワードを忘れた方：<%= link_to "パスワード変更", "certification" %></h5>
    </div>

</div>
