<div class="notes">
    <span class="mark">*</span> 印の付いた項目は入力必須です。
</div>
<table>
    <tr>
        <th>
            <%= f.label :last_name, "名前(姓)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :last_name, size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :first_name, "名前(名)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :first_name, size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :last_name_phonetic, "ふりがな(姓)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :last_name_phonetic, size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :first_name_phonetic, "ふりがな(名)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :first_name_phonetic, size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :birth_year_month, "誕生年月", class: "required" %>
        </th>
        <td>
            <%= f.number_field :birth_year_month, :placeholder => "YYYYMMDD", min:18000101, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :joining_year, "入社日", class: "required" %>
        </th>
        <td>
            <%= f.number_field :joining_year, :placeholder => "YYYYMMDD", min:18000101, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :deleted_at, "退職日" %>
        </th>
        <td>
            <%= f.date_field :deleted_at, size: 32 %>
        </td>
    </tr>
    <%= f.fields_for :account,(@m.account) do |a| %>
        <tr>
            <th>
                <%= a.label :mail_address, "メールアドレス", class: "required" %>
            </th>
            <td>
                <%= a.email_field :mail_address, size: 32, required: true %>
            </td>
        </tr>
        <tr>
            <th>
                <%= a.label :password, "パスワード", class: "required" %>
            </th>
            <td>
                <%= a.password_field :password, size: 32, class:"none", required: true %>
            </td>
        </tr>
        <tr>
            <th>
                <%= a.label :admin_flag, "管理者権限" %>
            </th>
            <td>
                <%= a.check_box :admin_flag %>
            </td>
        </tr>
    <% end %>
</table>