<div class="notes">
    <span class="mark">*</span>印の項目は入力が必要です。
</div>
<table class="new-form">
    <tr>
        <th>
            <%= f.label :face_photo_path, "写真登録" %>
        </th>
        <td>
            <%= f.file_field :face_photo_path, accept: 'image/png,image/gif,image/jpeg' %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :last_name, "名前(姓)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :last_name, :placeholder => "姓", size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :first_name, "名前(名)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :first_name, :placeholder => "名", size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :last_name_phonetic, "フリガナ(姓)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :last_name_phonetic, :placeholder => "フリガナ", size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :first_name_phonetic, "フリガナ(名)", class: "required" %>
        </th>
        <td>
            <%= f.text_field :first_name_phonetic, :placeholder => "フリガナ", size: 32, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :birth_year_month, "誕生年月", class: "required" %>
        </th>
        <td>
            <%= f.number_field :birth_year_month, :placeholder => "YYYYMMDD", min:18000101, required: true %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :joining_year, "入社日", class: "required" %>
        </th>
        <td>
            <%= f.number_field :joining_year, :placeholder => "YYYYMMDD", min:18000101, required: true %>
        </td>
    </tr>
    <%= f.fields_for :account do |a| %>
        <tr>
            <th>
                <%= a.label :mail_address, "メールアドレス", class: "required" %>
            </th>
            <td>
                <%= a.email_field :mail_address, :placeholder => "メールアドレス", size: 32, required: true %>
            </td>
        </tr>
        <tr>
            <th>
                <%= a.label :password, "パスワード", class: "required" %>
            </th>
            <td>
                <%= a.password_field :password, :placeholder => "パスワード", size: 32, class:"none", required: true %>
            </td>
        </tr>
        <tr>
            <th>
                <%= a.label :admin_flag, "管理者権限" %>
            </th>
            <td>
                <%= a.check_box :admin_flag%>
            </td>
        </tr>
    <% end %>
    <tr>
        <th>
            <%= f.label :one_word_comment, "一言コメント" %>
        </th>
        <td>
            <%= f.text_field :one_word_comment, :placeholder => "自己アピールを一言で", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :personality, "性格" %>
        </th>
        <td>
            <%= f.text_field :personality, :placeholder => "自分の性格について", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :hobby, "趣味" %>
        </th>
        <td>
            <%= f.text_field :hobby, :placeholder => "趣味", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :favorite_things, "好きなもの" %>
        </th>
        <td>
            <%= f.text_field :favorite_things, :placeholder => "好きなものや好きなことをなんでも", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :hate_things, "嫌いなもの" %>
        </th>
        <td>
            <%= f.text_field :hate_things, :placeholder => "嫌いなものや嫌いなことをなんでも", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :strong_point, "長所" %>
        </th>
        <td>
            <%= f.text_field :strong_point, :placeholder => "自分の長所を", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :week_point, "短所" %>
        </th>
        <td>
            <%= f.text_field :week_point, :placeholder => "自分の短所を", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :special_skill, "得意なこと" %>
        </th>
        <td>
            <%= f.text_field :special_skill, :placeholder => "得意なこと", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :week_things, "苦手なこと" %>
        </th>
        <td>
            <%= f.text_field :week_things, :placeholder => "苦手なこと", size: 32%>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :happy_done_things, "されて嬉しいこと" %>
        </th>
        <td>
            <%= f.text_field :happy_done_things, :placeholder => "されて嬉しいこと", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :disgusted_things, "されたら嫌なこと" %>
        </th>
        <td>
            <%= f.text_field :disgusted_things, :placeholder => "されたら嫌いなこと", size: 32 %>
        </td>
    </tr>
    <tr>
        <th>
            <%= f.label :freedom_message, "自由記入欄" %>
        </th>
        <td>
            <%= f.text_field :freedom_message, :placeholder => "自由に書いてください", size: 32 %>
        </td>
    </tr>
</table>

