<% @title = "従業員管理" %>
<h1><%= @title %></h1>   

<div class="table-wrapper">
    <div class="links">
        <%= link_to "新規登録", :new_account_admin%>
    </div>
    
    <div id="search-form">
    <%= form_with model: @member, url: [ :account_admin_result ] do |f| %>
        <%= render "search_form", f: f %>
    <% end %>
    </div>
    <%# <%= render '', post: @m.klass %>

    <div id="category-form">
        <%= form_with model: @member, url: :account_admin_show do |j| %>
            <%= j.select :category,[['id', 1], ['姓', 2], ['姓(フリガナ)', 3]] %>
            <%= j.submit "並べ替え" %>
        <% end %>
    </div>

    <table class = "listing">
        <tr>
            <th></th>
            <th>ID</th>
            <th>氏名</th>
            <th>フリガナ</th>
            <th>生年月日</th>
            <th>入社日</th>
            <th>退職日</th>
        </tr>
        <% @m.each do |m| %>
        <tr class="none">
            <td class="actions">
                <%= link_to "更新" , m.id.to_s+"/edit"%>
            </td>
            <td><%= m.id %></td>
            <td><%= m.last_name %> <%= m.first_name %></td>
            <td><%= m.last_name_phonetic %> <%= m.first_name_phonetic %></td>
            <td ><%= m.birth_year_month%></td>
            <td><%= m.joining_year %></td>
            <td><%= m.deleted_at.try(:strftime, "%Y/%m/%d") %></td>
        </tr>
        <% end %>
    </table>
    <%= paginate @m %>
</div>