<% @title = "Post ページ" %>
<h1><%= @title %></h1>
<%= form_with model: Post.new, url:"/account/post/"+@m.id.to_s do |a| %>
    <%=@m.id%>
    <div>
    <%= a.text_area :post , :placeholder => "今日はどんな気分ですか？",:size => "100" , required: true %>
    <%= a.submit "投稿する"%>
    </div>
<%end%>   

<%@members.each do |m|%>
    
    <%m.posts.each do |post|%>    
        <%=m.last_name%>
            <p>
            <p>
            <div>
            <%=post.post%>
            </div>
            <p>
            <p>
            <div>

            <%if post.like!=nil then%>
                like:<%=post.like%>
            <%end%>
            
            <%= form_with model: Reply.new, url:"/account/reply/"+post.id.to_s do |a| %>
            <%= a.text_field :reply, :placeholder => "コメントを残しましょう！",:size => "50" , required: true %>
            <%= a.submit "投稿する"%>       
            <%end%>
            <%= button_to 'いいね',"/account/post_like/"+post.id.to_s %>
            
            <%post.replies.each do |reply|%>
            
            <span>
            コメント:<%=reply.reply%>いいね:<%=reply.like%>
            <%= button_to 'いいね',"/account/reply_like/"+reply.id.to_s %>
            </span>
            <%end%>

        
    <%end%>
<%end%>
