<div>
    <table>
        <tr>
            <td class="user-profile" colspan="2">
            <%# <%= m.label :face_photo_path %>
            <%= m.file_field :face_photo_path, accept: 'image/png,image/gif,image/jpeg' %>
            <%# <%= m.file_field :face_photo_path %>
        </tr>
        <tr>
            <th>メンバーID</th>
            <th>メールアドレス</th>
        </tr>
        <tr>
            <td> <%= @account.mail_address.split('@')[0] %></th>
            <td> <%= @account.mail_address %></th>
        </tr>
        <tr>
            <th>名前(姓)</th>
            <th>名前(名)</th>
        </tr>
        <tr>
            <td><%= m.text_field :last_name, value: @member.last_name %></th>
            <td><%= m.text_field :first_name, value: @member.first_name %></th>
        </tr>
        <tr>
            <th>ふりがな(姓)</th>
            <th>ふりがな(名)</th>
        </tr>
        <tr>
            <td><%= m.text_field :last_name_phonetic, value: @member.last_name_phonetic %></th>
            <td><%= m.text_field :first_name_phonetic, value: @member.first_name_phonetic %></th>
        </tr>
        <tr>
            <th>誕生年月</th>
            <th>入社日</th>
        </tr>
        <tr>
            <th><%= (Time.parse(@member.birth_year_month.to_s)).strftime("%Y/%m") %></th>
            <th><%= (Time.parse(@member.joining_year.to_s)).strftime("%Y/%m/%d") %></th>
        </tr>
        <tr>
            <th colspan="2">一言コメント</th>
        </tr>
        <tr>
            <td colspan="2">
                <%= m.text_field :one_word_comment, value: @member.one_word_comment, size: 42 %>
            </td>
        </tr>
        <tr>
            <th>性格</th>
            <th>趣味</th>
        </tr>
        <tr>
            <td>
            <%= m.text_field :personality, value: @member.personality %>
            </td>
            <td>
            <%= m.text_field :hobby, value: @member.hobby %>
            </td>
        </tr>
        <tr>
            <th>好きなもの</th>
            <th>嫌いなもの</th>
        </tr>
        <tr>
            <td>
            <%= m.text_field :favorite_things, value: @member.favorite_things %>
            </td>
            <td>
            <%= m.text_field :hate_things, value: @member.hate_things %>
            </td>
        </tr>
        <tr>
            <th>長所</th>
            <th>短所</th>
        </tr>
        <tr>
            <td>
            <%= m.text_field :strong_point, value: @member.strong_point %>
            </td>
            <td>
            <%= m.text_field :week_point, value: @member.week_point %>
            </td>
        </tr>
        <tr>
            <th>得意なこと</th>
            <th>苦手なこと</th>
        </tr>
        <tr>
            <td>
            <%= m.text_field :special_skill, value: @member.special_skill %>
            </td>
            <td>
            <%= m.text_field :week_things, value: @member.week_things %>
            </td>
        </tr>
        <tr>
            <th>されて嬉しいこと</th>
            <th>されたら嫌なこと</th>
        </tr>
        <tr>
            <td>
            <%= m.text_field :happy_done_things, value: @member.happy_done_things %>
            </td>
            <td>
            <%= m.text_field :disgusted_things, value: @member.disgusted_things %>
            </td>
        </tr>
        <tr>
            <th colspan="2">自由記入欄</th>
        </tr>
        <tr>
            <td colspan="2">
            <%= m.text_field :freedom_message, value: @member.freedom_message, size:42 %>
            </td>
        </tr>
    </table>
</div>
