<% @title = "検索内容" %>
<h1><%= @title %></h1>

<div class="container">
    <div class="row">
        <% @search.each do |m| %>
            <div class="col-3">
                <div class="icon">
                    <%= react_component("Picture", { member: m }, prerender: true) %>
                </div>
                <%= react_component("Info", { member: m }, prerender: true) %>
            </div>
        <% end %>
    </div>
    <%= react_component("Search", { member: @member }, prerender: true) %>
    <%= link_to "back", "/account/members/index" %>
</div>
